h1 {
    border-left: 5px solid red;
    background-color: whitesmoke;
    width: 25%;
    padding-left: 0.5em;
}

div {
    width: 25%;
    height: 480px;
    background-color: whitesmoke;
    padding-left: 0.5em;
    border-radius: 10px;
    border: 3px solid lightgray;
}

label,input,select,textarea {
    display: block;
}

label {
    margin-top: 10px;
}

input,select,textarea {
    margin-bottom: 40px;
}

.button {
    background-color: lightgray;
    color: white;
    border-radius: 5px;
}





    
        